.services-container h2 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin-top: 60px;
}

.stats-card {
  background: whitesmoke;
  padding: 30px 20px;
  border-radius: 25px;
}

.stats-card h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.stats-card p {
  color: orange;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 8px;
}
